body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
    line-height: 1.5;
    padding: 4em 1em;
}
     
h1 {
    color: #e77a18;
    font-size: 2.5em;
    font-weight: 300;
}

h2 {
    color: #333;
    font-size: 1.5em;
    font-weight: 150;
    font-style: italic;
}

code {
    padding: 2px 2px;
    vertical-align: text-bottom;
    background: #f5f7f9;
    border-bottom: 1px solid #69c;
    color: #a7adba;
    border-left: 4px solid #69c;
}